#grid-displayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
}
#grid-displayer .row  {
  height: 100%
}
#grid-displayer .one {
  height: 100%;
  background: black;
  opacity: 0.3;
}

#grid-displayer-tools{
  background: white;
  color: black;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  font: normal 12px sans-serif;
  opacity: 0.9;
  padding: 0.75em;
  border-bottom: 4px solid #333;
}
#grid-displayer-tools:hover {
  opacity: 0.9 !important;
}
#grid-displayer-tools div {
  float: left;
  margin-right: 2em;
}
#grid-displayer-tools div:first-child {
  font-size: 1.5em; 
  color: #333;
}
#grid-displayer-tools div:nth-child(6) { /* TBF */
  font-style: italic; 
}
#grid-displayer-tools input {
  border: 1px solid #333;
  color: #333;
  background-color: #EEE;
  width: 2em;
  vertical-align: middle;
}
#grid-displayer-tools #gdt-color {
  width: 3em;
}
#grid-displayer-tools a {
  color: black;
  text-decoration: underline;
}