h1, h2 {
  font-family: 'Lato', sans-serif;
}
h1 .shine, h2 .shine {
  display: inline-block;
  padding: 0 0.2em;
}

.shine {
  background-color: #c70808;
  color: #F6F4E9;
}
.shine.large {
  display: block;
  padding: 1.5em 0;
}

a {
  color: #c70808;
}
a:hover, a:focus {
  color: #c70808 !important;
  background-color: #eee9de !important;
}

header {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  border-bottom: 15px solid #eee9de;
}
header a.button {
  display: block;
}

#example1, #example2 {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
}

#example1 {
  background-image: url("../images/example1.png");
}

#example2 {
  background-image: url("../images/example2.png");
}

footer {
  margin-top: 2rem !important;
  border-top: 15px solid #eee9de;
}
